@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

ul,
ol,
li {
    list-style: none;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/*특정 부분 스크롤바 없애기*/

.box {
    -ms-overflow-style: none;
}

.box::-webkit-scrollbar {
    display: none;
    출처: https: //wooaoe.tistory.com/49 [개발개발 울었다:티스토리]
}




@media screen and (max-width: 820px) {
    .box img{
        max-width: 100%;
        height: auto !important;
    }
}


@media screen and (max-width: 480px) {
    .box img{
        max-width: 100%;
        height: auto !important;
    }
}