@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

html {
    font-size: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
    size: 100%;
}

ul,
ol,
li {
    list-style: none;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.wrap {
    position: relative;
    display: block;
}



.box {
    -ms-overflow-style: none;
}

.box::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 820px) {
    .box img{
        size: 100%;
    }
}


@media screen and (max-width: 480px) {
    .box img{
        size: 100%;
    }
}